.default-container
  = render './header.html.haml'
  - breadcrumb :sales
  = render './bread_crumb'
.l-container-clearfix
  .l-container
  .l-content
    %section.l-chapter-container
      %h2.l-chapter-head 売上履歴
      %ul.mypage-item-list
        .clearfix
        .sales-moneys-box
      %time
        %i.icon-time
        .clearfix
        - current_user.sales_moneys.each do |money|
          .mypage-nav-list-item.clearfix
            .l-left= money.created_at.strftime("%Y/%m/%d %H:%M")
            %p.money-limit 販売利益
            .l-right= money.get_money.to_s(:currency, unit: "¥", precision: 0)
          %img{src: "#{money.item.item_images[0].item_image_src}", width: "120", height: "80"}
        %i.fas.fa-angle-right

  = render './users/l-side.html.haml'
= render './footer.html.haml'