.default-container
  = render './header.html.haml'
  - breadcrumb :sales
  = render './bread_crumb'
.l-container-clearfix
  .l-container
  .l-content
    %section.l-chapter-container
      %h2.l-chapter-head 売上履歴
      .sales-money-container
        .sales-money-box
          - @sales_moneys.each do |money|
            .mypage-nav-list-item
              %img{src: "#{money.item.item_images[0].item_image_src}", width: "120", height: "80"}
              .time-box
                %i.far.fa-clock.time-box__icon
                .time-box__date= money.created_at.strftime("%Y/%m/%d %H:%M")
              .money-limit 販売利益
              .l-right= money.get_money.to_s(:currency, unit: "¥", precision: 0)
          %i.fas.fa-angle-right
          = paginate(@sales_moneys)
  = render './users/l-side.html.haml'
= render './footer.html.haml'