.single-container
  %header.single-header
    %h1
      %a{href: "http://13.230.105.155/"}
        = image_tag "mercari_top.svg"
  %main.single-main
    %section.single-main__l-single-container
      %h2.single-main__l-single-container__l-single-head 新規会員登録
      .single-main__l-single-container__l-single-inner
        .l-single-content
          = link_to "/users/sign_up", class: "btn-default btn-mail" do
            %i.far.fa-envelope
            %span.registration_mail メールアドレスで登録
          %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
            %i.fab.fa-facebook
            = link_to "Facebookで登録"
          %button#google-login.btn-default.btn-sns.btn-sns-google
            %i.fab.fa-google-plus-g
            Googleで登録
  %footer.single-footer
    %nav
      %ul.single-footer__lists.clearfix
        %li.single-footer__lists__a-list
          = link_to 'プライバシーポリシー',  "https://www.mercari.com/jp/privacy/", class: "link-style"
        %li.single-footer__lists__a-list
          = link_to 'メルカリ利用規約', "https://www.mercari.com/jp/tos/", class: "link-style"
        %li.single-footer__lists__a-list
          = link_to '特定商取引に関する表記', "https://www.mercari.com/jp/tokutei/", class: "link-style"
    = link_to "http://13.230.105.155/", class: "single-footer-logo" do
      = image_tag "mercari_footer.svg"
    %p
      %small © 2018 Mercari
