.single-container
  %header.single-header
    %h1
      %a{:href => "https://www.mercari.com/jp/"}
        = image_tag "mercari_top.svg"
  .single-main
    .login-panel
      .login-no-account
        %p アカウントをお持ちでない方はこちら
        = link_to "/users/new" do
          新規会員登録
      .login-form-inner
        .btn-sns-facebook
          %i.fab.fa-facebook
          Facebookでログイン
        .btn-sns-google
          %i.fab.fa-google-plus-g
          Googleでログイン
      .login-meil
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .form
            = f.email_field :email, autofocus: true, autocomplete: "email", class: "input-default", placeholder: "メールアドレス"
            / %input{type: "email", class: "input-default", name: "email", placeholder: "メールアドレス"}
          .form
            = f.password_field :password, autocomplete: "current-password", class: "input-default", placeholder: "パスワード"
            / %input{type: "password", class: "input-default", name: "password", placeholder: "パスワード"}
          .no-robot
            .no-robot__left
              %input.no-robot__left__checkbox{:type => "checkbox"}
              %p
                私はロボットでは</br>ありません。
            .no-robot__right
              = image_tag "reCAPTCHA.png"
              %p reCAPTCHA
              %p プライバシー・利用規約
          .form
            = f.submit "ログイン",class: "login-submit"
            %a パスワードをお忘れの方
    %footer.single-footer
      %nav
        %ul.single-footer__lists.clearfix
          %li.single-footer__lists__a-list
            = link_to 'プライバシーポリシー',  "https://www.mercari.com/jp/privacy/", class: "link-style"
          %li.single-footer__lists__a-list
            = link_to 'メルカリ利用規約', "https://www.mercari.com/jp/tos/", class: "link-style"
          %li.single-footer__lists__a-list
            = link_to '特定商取引に関する表記', "https://www.mercari.com/jp/tokutei/", class: "link-style"
      = link_to "https://www.mercari.com/jp/", class: "single-footer-logo" do
        = image_tag "mercari_footer.svg"
      %p
        %small © 2018 Mercari
