.wrapper
  .slide-box
    %ul.slider
      %li.slider__list
        .slider__list--image1
          = image_tag 'top-banner-1.png'
      %li.slider__list
        .slider__list--image2
          = image_tag 'top-banner-2.png'
      %li.slider__list
        .main-banner
          .main-banner-content
            .main-banner-text
              %h1.main-banner-text__title スマホでかんたんフリマアプリ
              %p.main-banner-text__detail
                メルカリはスマホアプリからすぐに出品できる
                %br
                購入時も安心な独自システムのアプリです
              .main-banner-link
                = image_tag 'app-store.svg',   size: "170x50"
                = image_tag 'google-play.svg', size: "170x50"
            = image_tag 'main_content_pc.png', class: "main-banner-content__image"
  .main-content
    .pick-up
      .item-container
        %h2.pick-up__title ピックアップカテゴリー
        %h3.pick-up__category レディース 新着アイテム
        .item-boxes
          .item-box
            /TODO リンク先 "/items/#{item.id}"
            = link_to "#" do
              /TODO 画像参照 "#{item.item_image.item_image_src}"
              = image_tag 'main_content_pc.png', class: "main-banner-content__image", size: "200x200"
              .item-box-content
                /TODO item.item_name
                %h4.item-box-content__name ダウンジャケット
                .item-info
                  /TODO item.price
                  %p.item-info__price 1000
                  .item-likes
                    %i{ class: "far fa-heart" }
                    /TODO item.likes.count
                    %span 10
        .item-container__view-all
    .pickup
      %h2.pick-up__title ピックアップブランド
      %h3.pick-up__category
%script{src: "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js", type: "text/javascript"}
