.single-container
  = render partial: "/subheader"


  .single-main
    %section.l-single-container.buy-item-container
      #sell-container
        .sell-container-inner
          %h2.l-single-head 商品の情報を入力

          = form_for @item, html:{id: 'sell-form'} do |f|

            .sell-upload-box
              %h3.sell-upload-head 出品画像
              %span.form-require 必須
              %p 最大４枚までアップロードできます
              .sell-dropbox-container
                .sell-upload-items
                  %ul
                    %li.sell-upload-drop-box#preview1
                    %li.sell-upload-drop-box#preview2
                    %li.sell-upload-drop-box#preview3
                    %li.sell-upload-drop-box#preview4
                      / = f.file_field :item_images, class: "sell-upload-drop-file", style: "none"
            .sell-content
              .form-group
                %label 商品名
                %span.form-rewuire 必須
                %input.input-default
              .form-group
                %label 商品の説明
                %span.form-rewuire 必須
                %textarea.textarea-default

            .sell-content.clearfix
              %h3.sell-sub-head 商品の詳細
              .sell-form-box
                .form-group
                  %label カテゴリー
                  %span.form-rewuire 必須
                .select-wrap
                  %select.select-default
                    %option value1
                    %option value2
                    %option value3
                  %i.icon-arrow-bottom
                .form-group
                  %label 商品の状態
                  %span.form-rewuire 必須
                .select-wrap
                  %select.select-default
                    %option value1
                    %option value2
                    %option value3
                  %i.icon-arrow-bottom

            .sell-content.clearfix
              %h3.sell-sub-head 配送について
              %a.form-question
              .sell-form-box
                .form-group
                  %label 配送料の負担
                  %span.form-rewuire 必須
                .select-wrap
                  %select.select-default
                    %option 送料込み
                    %option 着払い
                  %i.icon-arrow-bottom
              .sell-form-box
                .form-group
                  %label 配送元の地域
                  %span.form-rewuire 必須
                .select-wrap
                  %select.select-default
                    %option 北海道
                    %option 沖縄
                  %i.icon-arrow-bottom
              .sell-form-box
                .form-group
                  %label 発送までの日数
                  %span.form-rewuire 必須
                .select-wrap
                  %select.select-default
                    %option １〜２日
                    %option ４〜７日
                  %i.icon-arrow-bottom


            .sell-content
              %h3.sell-sub-head 販売価格(300~9,999,999)
              = link_to "?", root_path, class: "question-color"
              .sell-form-box
                %ul.sell-price
                  %li.form-group
                    = f.label :price, "価格", class: 'l-left'
                    %span.form-require 必須
                    = f.text_field :price, class: 'input-default', id: "amount", placeholder: "例）300"
                    .l-right
                      .sell-price-input ¥
                  %li.commission
                    .l-left 販売手数料（10％）
                    .l-right#commission  -
                  %li.profit
                    .l-left 販売利益
                    .l-right#sales-profit -


            .sell-content.sell-btn-box
              %p
                = link_to "禁止されている出品", root_path, class: "link-color"
                、
                = link_to "行為", root_path, class: "link-color"
                を必ずご確認ください。
              %p
                またブランド品でシリアルナンバー等がある場合はご記載ください。
                = link_to "偽ブランドの販売", root_path, class: "link-color"
                は犯罪であり処罰される可能性があります。
              %p
                また、出品をもちまして
                = link_to "加盟店規約", root_path, class: "link-color"
                に同意したことになります。

              = f.submit '出品する', class: 'btn-default btn-red'
              = link_to "もどる", root_path, class: "btn-default btn-gray"


  .single-footer
    = render partial: "/subfooter"









