%body
  /商品見出しから、いいね機能もここに
  .default-container
    %section.item-box-container.l-single-container
      %h1.item-name 正規品！COACH【コーチ】★★大きめ ミニシグネチャー ショルダーバッグ

      /商品画像、詳細box
      .item-main-content.clearfix
        /商品画像部分
        .item-photo
          .owl-carousel.owl-loaded.owl-drag
            /メイン画像
            .owl-stage-outer
              /hoverイベントで使う
              .owl-stage
                .owl-item.active
                  .owl-item-inner
                    = image_tag "COACH1.jpeg", size: "300x300", alt: "コーチ"
                .owl-item
                  .owl-item-inner
                .owl-item
                  .owl-item-inner.is-higher-width
                .owl-item
                  .owl-item-inner.is-higher-width

            /?
            .owl-nav.disabred
            /hoverイベントをかける画像４枚
            .owl-dots
              .owl-dot
                %span
                .owl-dot-inner
                  = image_tag "COACH4.jpeg", size: "75x75", class: "owl"
              .owl-dot
                %span
                .owl-dot-inner
                  = image_tag "COACH3.jpeg", size: "75x75", class: "owl"

              .owl-dot
                %span
                .owl-dot-inner
                  = image_tag "COACH2.jpeg", size: "75x75", class: "owl"

              .owl-dot
                %span
                .owl-dot-inner
                  = image_tag "COACH1.jpeg", size: "75x75", class: "owl"
            /画像、説明書きここまで

        /値段表示
        .item-price-box.text-center.visible-sp
          %span.item-price
          %span.item-tax
          %span.item-shipping-fee
        /購入画面へjump
        %section.visible-sp
          %a.item-buy-btn.f18-24
          /jumpパターンが２つ??
          / %a.item-btn-client{:href => "https://www.mercari.com/jp/login/?login_callback=https%3A%2F%2Fwww.mercari.com%2Fjp%2Ftransaction%2Fbuy%2Fm70068440240%2F"}
          /   %div{"data-client" => "visible"}
          /     購入画面に進む
          / %a.item-action-text{"data-action" => "item/openDetail", "data-adjust-url" => "http://app.adjust.io/xio2ii?campaign=iOS&adgroup=items.buy_button1", "data-key" => "id=m70068440240", "data-play-id" => "com.kouzoh.mercari", "data-toggle" => "open-app", "data-url-scheme" => "mercari://"}
          /     アプリで購入

        /商品詳細
        %table.item-detail-table
          %tbody
            %tr
              %th 出品者
              %td
                %a{href: "https://www.mercari.com/jp/u/387561164/"} BOON!@90s古着トレジャーハンター
                %div
                  .item-user-ratings
                    %i.fas.fa-grin.smile
                    %span 534
                  .item-user-ratings
                    %i.fas.fa-meh.meh
                    %span 20
                  .item-user-ratings
                    %i.fas.fa-tired.bad
                    %span 3
            %tr
              %th カテゴリー
              %td
                %a レディース
                %a
                  .item-detail-table-sub-category
                    %i.fas.fa-angle-right.right
                    バッグ
                %a
                  .item-detail-table-sub-sub-category
                    %i.fas.fa-angle-right.right
                    ショルダーバッグ
            %tr
              %th ブランド
              %td
                %a{href: "https://www.mercari.com/jp/brand/539/"} コーチ
            %tr
              %th 商品の状態
              %td やや傷や汚れあり

            %tr
              %th 配送料の負担
              %td 送料込み(出品者負担)
            %tr
              %th 配送の方法
              %td 未定
            %tr
              %th 配送元地域
              %td
                %a{href: "https://www.mercari.com/jp/area/27/"} 大阪府
            %tr
              %th 発送日の目安
              %td 1~2日で発送

      /値段表示
      .item-price-box.text-center
        %span.item-price ¥3,600
        %span.item-tax (税込)
        %span.item-shipping-fee 送料込み

      %a.item-buy-btn.f18-24 購入画面に進む
      %a.item-btn-client

      /出品者記入項目
      .item-description.f14
        %p.item-description-inner
          ■商品ご覧頂き、誠にありがとうございます。
          ※今だけ、フォロワーになって下さった方に、300円のお値引きサービス中！！

          私の商品検索は、
          Boon・バッグ
          検索してください。

          質問がありましたらコメントでよろしくお願いします！
          ■ 商品説明 ■
          まずはプロフを確認してください☆

          ■ 商品詳細 ■
          シンプルな落ち着いたお色味でどんな場面にも合い、
          どんな服にも合わせやすいお鞄です。使用感有！角擦れはございませんが
          多少の汚れはあります。内側はとても綺麗です☆
          使わなくなったのでどなたか使っていただける方お願いします。
          製造番号 H2K-9294

          【ブランド】
          COACH コーチ

          【商品名】
          コーチ大き目シンプル

          【仕様】
          外ポケット１ 内ポケット４

          【サイズ】
          縦：32
          横：31
          幅：7
          紐：130 多少調節可能

          ＊他にも数多くの商品を出品しているので、ぜひご覧ください。
          ＊複数購入、お取り置き(５日まで)もできるので、お気軽にお声がけくださいませ。
          ＊中古品になりますので、予めご理解いただきますよう、お願い致します^_^
          ※自宅保管、素人検品、素人寸法の誤差などにご理解がない方、神経質な方、完璧な物が欲しい方は購入お控えください。
          、お願い致します^_^
          ※自宅保管、素人検品、素人寸法の誤差などにご理解がない方、神経質な方、完璧な物が欲しい方は購入お控えください。

          シンプル #かわいい #大き目 #かばん #バッグ



      /いいね機能、報告url、取り組みurl
      .item-button-container.clearfix
        .item-button-left
          %a.item-button.item-button-like
            %i.far.fa-heart
            %span いいね!
            %span 1
          /不適切報告
          %a.item-button.item-button-report.clearfix
            %i.far.fa-flag
            %span 不適切な商品の報告
        /取り組みurl
        .item-button-right
          %a.description-page{href: "https://www.mercari.com/jp/safe/description/"}
            %i.fas.fa-lock
            %span あんしん・あんぜんへの取り組み




.item-detail-message
  .message-container
    %form.message-form
      %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %textarea.textarea-default
      %button.message-submit.btn-default.btn-gray
        %span コメントする
%ul.nav-detail-item.clearfix
  %li.nav-item-link-prev
    %a
      = fa_icon 'angle-left', class: 'lock-icon'
      VANS スニーカー
  %li.nav-item-link-next
    %a
      ATSUGIフラワードット側ストッキング
      = fa_icon 'angle-right', class: 'lock-icon'
.item-social-media-box
  %ul.social-media-box
    %li
      %a
        %i{class: 'fab fa-facebook-square sns-icon facebook-icon'}
    %li
      %a
        %i{class: 'fab fa-twitter sns-icon twitter-icon'}
    %li
      %a
        %i{class: 'fab fa-line sns-icon line-icon'}
    %li
      %a
        %i{class: 'fab fa-pinterest-square sns-icon pinterest-icon'}
  .item-in-user-profile
    %h2.items-box-head.bold
      %a
      = link_to href: "https://www.mercari.com/jp/u/387561164/", class: 'user-page-pro' do
        BOON!@90s古着トレジャーハンターさんのその他の出品
    .items-profile.items-box-content.clearfix
